{% extends "_includes/default.njk" %}
{% block title %}About me{% endblock %}
{% block content %}
  <div class="relative max-w-7xl mx-auto">
    <div class="relative flex justify-center items-center">
      <div>
        <span class="text-lg" x-data="{message:'🤖 Hello World 🤓'}" x-text="message"></span>
      </div>
    </div>
  </div>
{% endblock %}